html{
    font-family:"Open Sans",sans-serif;
}

body{
    background-color: rgba(172, 255, 155,.1);
    opacity: 1;
}

h1{
    background-color: rgb(73, 116, 138);
    display: inline-block;
    padding: 7px 15px;
    box-sizing: border-box;
    border-radius: 50em;
    border: 4px solid rgb(35, 66, 81)

}

h4{
    background-color: rgb(99, 147, 171);
    display: inline-block;
    padding: 6px 10px;
    box-sizing: border-box;
    border-radius: 50em;
    border: 4px solid rgb(50, 81, 96)
}


b{
    color:rgb(37, 62, 145) ;
}

